html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(61, 61, 61, 1);
}

a {
    text-decoration: none;
    color: rgba(61, 61, 61, 1);
}

.wrapper {
    min-width: 1080px;
    width: 1080px;
    margin: 0 auto;
    padding: 1rem;
}

#container {
    width: 100%;
    position: relative;
}

#header {
    border-bottom: 1px solid #f0f0f0;
}

.clear-fix::after {
    display: block;
    content: "";
    clear: both;
}

/* icon 스타일 */
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.icon.small{
    width: 15px;
    height: 15px;
}

.icon.icon-search {
    background-image: url("./images/search.png")
}

.icon.icon-menu {
    background-image: url("./images/menu.png")
}

.icon.icon-close {
    background-image: url("./images/close.png")
}

/* 글목록 스타일 */

.article-list {
    padding: .7rem 0;
    transition: 0.5s;
    border-bottom: 1px solid #e0e0e0;
}

.article-list:hover {
    margin-left: 1rem;
}

.article-list .article-item .title {
    font-size: 1.5rem;
}

.article-list .article-item .summary {
    width: 95%;
    font-size: .95rem;
    line-height: 1.3rem;
}

.article-list .info .date {
    margin: 1rem 0;
}

/* 페이징 스타일 */

.paging-cover {
    font-size: 1.05rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.paging-cover .paging a{
    margin-left: 5px;
    margin-right: 5px;
}

.paging-cover .paging a span.selected{
    font-weight: 600;
    color: #000;
}

/* 검색 스타일 */

.header-option{
    position: fixed;
    right: 40px;
    top: 40px;
    display: flex;
    align-items: flex-start;
}

.header-option > *{
    margin: 0 .5rem;
}

.header-option .icon {
    cursor: pointer;
}

.header-option input[type="text"]{
    border: none;
    padding: 7px;
    font-size: .9rem;
    border-bottom: 1px solid #3d3d3d;
}

.header-option input[type="text"]:focus{
    outline: none;
    border-bottom: 1px solid #000;
}

.header-option .area_search {
    width: auto;
    opacity: 1;
    transition: opacity 0s, width 1s;
    
}

.header-option .area_search.none{
	display: none;
    width: 0;
    opacity: 0;
}